<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href='/chikungunya_kea/'>

    <title>CSTgram</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/lib/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/lib/css/simple-sidebar.css" rel="stylesheet">

    <link rel="stylesheet" href="static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="static/lib/css/bootstrap-switch.css">
    <link rel="stylesheet" href="static/lib/css/dc.css">
    <link rel="stylesheet" href="static/css/specific.css" />
    <link rel="stylesheet" href="static/css/jquery.accordion.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <div id="wrapper" class='toggled'>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <p class='sidebar_labels'>sidebar</p>
    </div>
    <!-- end sidebar -->

    <!-- Page Content used for sidebar toggle -->
    <div id="page-content-wrapper">

      <!-- main container - required --> 
      <div id='main_container'>

        <!-- this row is - required fluid causes problems --> 
        <div class="row" > 

          <!-- hold_views - holds all views -->
          <div id='hold_views' class="col-lg-12">

            <!-- homepage -->
            <div id='homepage_view' class='row'>

              <h1 id='website_title'> CST NSCLC </h1>
              <p class='initial_paragraph'>This webpage gives multiple views of the CST NSCLC PTM and gene expression data. </p>

              <!-- choose view -->
              <div  class="btn-group-vertical text-center" data-toggle="buttons" >
                <button id='toggle_view' type="submit" class='btn btn-primary buttons' onClick='to_ccle_gene_exp()' >
                  Gene Expression Data 
                </button>

                <button id='toggle_view' type="submit" class='btn btn-primary buttons' onClick='tf_sub_all_cl();'  >
                  View TFs and downstream genes
                </button>

                <!-- <button id='toggle_view' type="submit" class='btn btn-primary buttons' onClick='console.log("here")' >
                  View Predicted TFs from ChEA
                </button> -->
              </div>

            </div>
            <!-- end homepage -->

            <!-- visualization -->
            <div id='viz_container'>

              <div id='gene_exp_view' class='row'>
                <div id='clust_instruct_container' >
                  <h1 id='viz_website_title' onClick='to_homepage()' >CST NSCLC</h1>

                  <div id='viz_gmt_labels'></div>

                  <div class='title_viz_instructs'>About:</div>
                  <div class='viz_instruct_text'> The clustergram shows gene expression data for 29 NSCLC cell lines available from the CCLE. Gene expression has been Z-sore normalized across all cancer cell lines in the CCLE (approximately 1000 cell lines in total). The initial view shows gene expression from all gene types that have a zscore absolute value of at least 3.5 in at least one cell line. You can switch the zscore cutoff and gene subtypes using the buttons. </div>

                  <div class='viz_instruct_text'> Cell lines are broken into three groups based on transcription factor gene expression - labeled red, blue and gray. The blue cluster is characterized by low expression of SMARCA4 and the red cluster is characterized by increased expression of NKX2-1.</div>

                  <!-- button container -->
                  <div id='button_container'>
                    
                    <!-- choose protein class  -->
                    <div id='class_buttons' class="btn-group-vertical text-center" data-toggle="buttons" >

                      <label class="btn btn-warning active prot_class" onclick="change_class_clustergram('ALL');" >
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > All Genes
                      </label>

                      <label class="btn btn-primary prot_class" onclick="change_class_clustergram('TF');" >
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > Transcription Factors
                      </label>

                      <label class="btn btn-primary prot_class" onclick="change_class_clustergram('KIN');">
                        <input type="radio" name="options" id="clust_button" autocomplete="off" checked > Kinases
                      </label>

                      <label class="btn btn-primary  prot_class" onclick="change_class_clustergram('PP');" >
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > Phosphatases
                      </label>

                      <label class="btn btn-primary prot_class" onclick="change_class_clustergram('ACT');" >
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > Acetyltransferases
                      </label>

                      <label class="btn btn-primary prot_class" onclick="change_class_clustergram('DACT');" >
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > Deacetylases
                      </label>

                      <label class="btn btn-primary prot_class" onclick="change_class_clustergram('MET');" >
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > Methyltransferases
                      </label>

                      <label class="btn btn-primary prot_class" onclick="change_class_clustergram('DMET');" >
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > Demethylases
                      </label>

                      <label class="btn btn-primary  prot_class" onclick="change_class_clustergram('GPCR');" >
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > GPCRs
                      </label>

                      <label class="btn btn-primary prot_class" onclick="change_class_clustergram('IC');" >
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > Ion Channels
                      </label>

                    </div>

                    <div class='title_viz_instructs'>Choose log2 cutoff:</div>

                    <!-- choose zscore cutoff  -->
                    <div id='zscore_buttons' class="btn-group text-center" data-toggle="buttons" >

                      <label id='z_0' class="z_button btn btn-primary prot_class" onclick="load_chik_cutoff('0.0');" >
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > 0.0
                      </label>

                      
                      <label id='z_20' class="z_button btn btn-primary prot_class" onclick="load_chik_cutoff('0.25');" >
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > 0.25
                      </label>


                      <label id='z_25' class="z_button btn btn-primary prot_class" onclick="load_chik_cutoff('0.5');" >
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > 0.5
                      </label>


                      <label id='z_30' class="z_button btn btn-primary prot_class" onclick="load_chik_cutoff('0.75');" >
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > 0.75
                      </label>


                      <label id='z_35' class="z_button btn btn-primary active  prot_class" onclick="load_chik_cutoff('1.0');" >
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > 1.0
                      </label>

                    </div>

                    <div id='toggle_order' class="btn-group" data-toggle="buttons" >
                      <label class="btn btn-primary active prot_class" onclick="d3_clustergram.reorder_clust_rank('clust');">
                        <input type="radio" name="options" id="clust_button" autocomplete="off" checked > Cluster
                      </label>
                      <label class="btn btn-primary prot_class" onclick="d3_clustergram.reorder_clust_rank('rank');">
                        <input type="radio" name="options" id="rank_button" autocomplete="off" > Rank
                      </label>
                    </div>
                  </div>

                  <!-- resource key -->
                  <div id='res_color_key_title' class='title_viz_instructs'>Cell Line Groups:</div>
                  <div id='res_color_key_div'></div>

                  <!-- input box for gene search -->
                  <div id='gene_search_container' class='row'>
                      <input id='gene_search_box' type="text" class="form-control" placeholder="Input Gene" aria-describedby="sizing-addon2">

                      <div id='gene_search_button' class="btn-group" data-toggle="buttons" >
                        <label id='submit_gene_button' class="btn btn-primary active " onclick="d3_clustergram.find_gene_in_clust();">
                          <input type="radio" name="options" id="" autocomplete="off" checked > Search
                        </label>
                      </div>
                  </div>

                  <div class='title_viz_instructs'>Set group size:</div>
                  <div class='viz_instruct_text'>column group size</div>
                  <div id="slider_col"></div>
                  <div class='viz_instruct_text'>row group size</div>
                  <div id="slider_row"></div>

                  <button id='to_homepage' type="submit" class='btn btn-primary buttons' onClick='to_homepage()' >Return to Homepage</button>

                </div>
                <!-- <div id='clustergram_container' > -->
                  <!-- <div id='col_title'>Cell Lines</div> -->
                  <div id='clust_and_row_container'>
                    <!-- <div id='row_title'>Genes</div> -->

                    <!-- exp div -->
                    <div id='svg_div' class='svg_div' ></div>

                    <!-- tfsub div -->
                    <div id='svg_div_tfsub' class='svg_div' ></div>

                  </div>
                <!-- clustergram container -->
                <!-- </div> -->
              </div>
            </div>
            <!-- end visualization -->

          </div> 
          <!-- end single column -->

        </div>
        <!-- end row -->

      </div>
      <!-- end main container -->

    </div>
    <!-- end page content wrapper -->

  </div> 
  <!-- /end wrapper -->

  <footer id='footer_div' class="footer navbar-fixed-bottom">
    <div class="row" > 
      <div class="col-xs-12 footer_section"> 
        <p class="text-muted">CSTgram is being developed by the <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma'ayan Lab</a> at the <a href="http://icahn.mssm.edu/">Icahn School of Medicine at Mount Sinai</a>. </p>
      </div>
    </div>
  </footer>

  <!-- Modal -->
  <div id='modal_no_input' class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">Please input genes</h4>
        </div>
        <div class="modal-body">

          <div class="container-fluid">
            <p>Input one human/mouse gene symbol per line. </p>
            <p>For instance:</p>
            <div>PER1</div>
            <div>SENP3</div>
            <div>TOP2A</div>
            <div>PTPN7</div>
            <div>...</div>

          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Vendor -->
  <!-- jQuery -->
  <script src="static/lib/js/jquery-1.11.2.min.js"></script>

  <!-- adding jquery links -->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script src='static/lib/js/jquery.accordion.js'></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="static/lib/js/bootstrap.min.js"></script>
  <script src="static/lib/js/bootstrap-switch.min.js"></script>
  <script src="static/lib/js/crossfilter.js"></script>
  <script src="static/lib/js/d3.js"></script>
  <script src="static/lib/js/dc.js"></script>
  <script src="static/lib/js/queue.js"></script>
  <script src="static/lib/js/keen.min.js"></script>
  <script src="static/lib/js/underscore-min.js"></script>
  <script src="static/lib/js/underscore.strings.js"></script>
  <script src='static/lib/js/blockUI.js'></script>
  <script src='static/lib/js/type_ahead.js'></script>
  <!-- Clustergram Scripts -->
  <script src='static/js/d3_clustergram.js'></script>
  <script src='static/js/load_local_network.js'></script>

  <script>
  
  // switch to homepage 
  function to_homepage(){
    // switch to homepage 
    // d3.select('#clust_instruct_container').style('display','none');
    // d3.select('#clustergram_container').style('display','none');
    // d3.selectAll('.initial_paragraph').style('display','block');
    // d3.select('#website_title').style('display','block');
    d3.select('#gene_exp_view').style('display','none');
    d3.selectAll('#homepage_view').style('display','block');
  }

  // gene expression view 
  function to_ccle_gene_exp(){

    d3.select('#gene_exp_view').style('display','block');
    d3.selectAll('#homepage_view').style('display','none');

    d3.select('#svg_div_exp').style('display','block');
    d3.select('#svg_div_tfsub').style('display','none');

    // Define missing zscores for protein types 
    ////////////////////////////////////////////
    missing_z = {
      'ALL':[0,20,25],
      'TF':[],
      'KIN':[],
      'PP':[],
      'ACT':[35,40],
      'DACT':[40],
      'MET':[35,40],
      'DMET':[30,35,40],
      'GPCR':[],
      'IC':[]
    };

    // request_json 
    ccle_params = {};
    ccle_params['gc'] = 'ini';
    ccle_params['cutoff'] = 3.5;
    ccle_params['order'] = 'clust';

    // set global variable for svg type
    select_svg_div = 'svg_div_exp';

    // make a clustergram 
    change_class_clustergram('ALL');

  }
 
  // transcription factor view 
  function tf_sub_all_cl(){

    d3.select('#gene_exp_view').style('display','block');
    d3.selectAll('#homepage_view').style('display','none');
    d3.select('#svg_div_exp').style('display','none');
    d3.select('#svg_div_tfsub').style('display','block');

    console.log('make tfsub clustergram')

    // visualization parameters 
    ccle_params = {};
    // ccle_params['gc'] = 'ini';
    // ccle_params['cutoff'] = 3.5;
    ccle_params['order'] = 'clust';
    
    // load tfsub clustergram 
    ////////////////////////////
    // select current visualization div 
    select_svg_div = 'svg_div_tfsub';  

    load_chik_cutoff('1.0');

  }



function make_tf_viz(){
    // making post 
    /////////////////////////////////
    // manually set url (local - works for local and docker)
    url = '/chikungunya_kea/'

    // define global variables 
    // initialize protein class 
    var inst_prot_class = 'TF';
    // save global variable 
    glob_prot_class = inst_prot_class;
    viz_type = 'tf_sub';
    inst_zscore_cutoff = 3;

    // request_json 
    req_json = {};
    req_json['viz_type'] = 'tf_sub';
    req_json['name'] = 'SMARCA4';

    // request format 
    var posting = $.post( url, req_json );
    
    // make first clustergram 
    // set up wait message before request is made 
    $.blockUI({ css: { 
            border: 'none', 
            padding: '15px', 
            backgroundColor: '#000', 
            '-webkit-border-radius': '10px', 
            '-moz-border-radius': '10px', 
            opacity: .8, 
            color: '#fff' 
        } });

    // get the visualization json from server 
    posting.done( function( network_data ) { 
      // // global network_data
      // global_network_data = network_data ;
      // // make d3 visualization
      // make_d3_clustergram(network_data)
      // turn off the wait sign 
      console.log(network_data)
      $.unblockUI();
    });
  }



  </script>

<!-- set up group size sliders -->
  <script type="text/javascript">
  
    // slider script - col 
    $(function() {
      $( "#slider_col" ).slider({
        value:0.5,
        min: 0,
        max: 1,
        step: 0.1,
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.value );
          var inst_index = ui.value*10;

          // save slider value to global variable 
          d3_clustergram.params.group_level.col = ui.value*10 ;

          // change group size of col 
          d3.selectAll('.col_class_rect')
            .style('fill', function(d){
              return d3_clustergram.params.group_colors.col[d.group[inst_index]];
            });
        }
      });
      $( "#amount" ).val( "$" + $( "#slider_col" ).slider( "value" ) );
    });

    // slider script - row
    $(function() {
      $( "#slider_row" ).slider({
        value:0.5,
        min: 0,
        max: 1,
        step: 0.1,
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.value );
          var inst_index = ui.value*10;

          // save slider value to global variable 
          d3_clustergram.params.group_level.row = ui.value*10 ;

          // change group size of row
          d3.selectAll('.row_class_rect')
            .style('fill', function(d){
              return d3_clustergram.params.group_colors.row[d.group[inst_index]];
            });
        }
      });
      $( "#amount" ).val( "$" + $( "#slider_row" ).slider( "value" ) );
    });

  </script>



</body>

</html>
